@charset "UTF-8";
/* All */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  background-color: #292c2f;
  font-family: "Source Sans Pro", sans-serif;
}

::-webkit-scrollbar {
  width: 0.75em;
  background-color: #1f2124;
}

::-webkit-scrollbar-track {
  background-color: #1f2124;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5em;
  background-color: #f8ce0b;
}

.goTopArrow {
  width: 3em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goTopButton {
  z-index: 2;
  background-color: whitesmoke;
  border: whitesmoke solid 0.125em;
  border-radius: 50%;
  position: fixed;
  bottom: 1.8em;
  right: 1.8em;
  box-shadow: 0 0.3em 0.5em rgba(31, 33, 36, 0.5);
}

.goTopButton:hover {
  background-color: #f8ce0b;
  border: #f8ce0b solid 0.125em;
  border-radius: 50%;
}

.wapLogo {
  width: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wapButton {
  z-index: 2;
  position: fixed;
  bottom: 1.8em;
  left: 1.8em;
  filter: drop-shadow(0 0 0.3em lime);
  transition: all 0.3s ease;
}

.wapButton:hover {
  filter: drop-shadow(0 0 0.5em lime);
  transform: scale(1.1);
}

header {
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: #1f2124;
  box-shadow: 0 0.3em 0.5em rgba(31, 33, 36, 0.5);
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand h1 {
  margin-right: 0.5em;
  /* Para dar una mayor sensación de centrado */
  color: whitesmoke;
}

.brand img {
  width: 7.5em;
}

.brand a {
  text-decoration: none;
}

.menu {
  list-style-type: none;
  text-align: center;
}

.menu li {
  display: inline-block;
  margin-left: 0.8em;
  margin-right: 0.8em;
  margin-bottom: 0.8em;
  font-size: 1.3rem;
}

.menu li a {
  text-decoration: none;
  color: whitesmoke;
}

.menu li a:hover {
  text-decoration: none;
  color: #f8ce0b;
  font-weight: bold;
}

main {
  margin-right: 10em;
  margin-left: 10em;
  margin-top: 5em;
  margin-bottom: 5em;
}

h1 {
  font-family: "Secular One", sans-serif;
  color: whitesmoke;
  font-size: 3.5rem;
  font-weight: bold;
}

h2 {
  font-family: "Secular One", sans-serif;
  color: #f8ce0b;
  font-size: 3.5rem;
  font-weight: bold;
}

h3 {
  font-family: "Secular One", sans-serif;
  color: whitesmoke;
  font-size: 1.8rem;
  font-weight: normal;
}

p {
  color: whitesmoke;
  font-size: 1.3rem;
}

hr {
  margin: 8em 10em 8em 10em;
  border: none;
  color: #9fa3a9;
  background-color: #9fa3a9;
  height: 0.05em;
}

footer {
  height: 13em;
  background-color: #393d42;
  box-shadow: 0 -0.3em 0.5em rgba(31, 33, 36, 0.5);
}

.creator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.creator-text {
  color: #9fa3a9;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  word-spacing: 0.08em;
  margin-top: 3em;
  margin-right: 1.25em;
  margin-bottom: 1.8em;
}

.creator-text span {
  margin-left: 0.3em;
}

.creator-text span:hover {
  color: #f8ce0b;
  text-shadow: 0 0.3em 0.5em #1f2124;
}

.creator-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 1.8em;
}

.creator-menu li {
  margin-left: 0.6em;
  margin-right: 0.6em;
}

.creator-menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0.3em 1em #1f2124;
  transition: all 0.3s ease;
}

.creator-menu li a:hover {
  transform: scale(1.1);
  background-color: #f8ce0b;
  box-shadow: none;
  filter: drop-shadow(0 0 0.5em #f8ce0b);
}

.creator-menu .creator-logo {
  width: 2.8em;
}

.copy {
  font-size: 1rem;
  text-align: center;
  color: #9fa3a9;
}

/* Only Index */
.slider {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10em;
  overflow: hidden;
  border-bottom: #1f2124 0.05em solid;
  box-shadow: 0 0.3em 0.5em rgba(31, 33, 36, 0.5);
}

.slider ul {
  display: flex;
  width: 400%;
  animation: cambio 20s infinite alternate linear;
}

.slider ul li {
  width: 100%;
  list-style: none;
}

.slider ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.items-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-title {
  margin-bottom: 1em;
  text-align: center;
}

.container-servs {
  display: grid;
  grid-template-columns: repeat(4, 22em);
  grid-template-rows: repeat(2, 12em);
  gap: 1em;
}

.serv {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #1f2124;
  border: #1f2124 solid 0.05em;
  box-shadow: 0 0.3em 0.5em rgba(31, 33, 36, 0.5);
  transition: all 0.3s ease;
  opacity: 0.8;
}

.serv h3 {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.5em;
  background: rgba(31, 33, 36, 0.7);
  padding: 0.3em 1em 0.3em 1em;
  font-size: 1.1rem;
  text-align: center;
}

.serv img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.serv:hover {
  z-index: 1;
  opacity: 1;
  transform: scale(1.1);
}

.prod {
  width: 90%;
  height: 22vmin;
  margin-bottom: 1.5em;
  display: grid;
  grid-template-columns: 25% 25% auto;
  overflow: hidden;
  background: rgba(31, 33, 36, 0.5);
  border: #1f2124 solid 0.05em;
  box-shadow: 0 0.3em 0.5em rgba(31, 33, 36, 0.5);
  transition: all 0.3s ease;
}

.prod .prod-cell {
  overflow: hidden;
  text-align: center;
}

.prod .img {
  border-right: #1f2124 solid 0.05em;
}

.prod .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prod .tit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.prod .desc {
  text-align: justify;
  margin: 1em;
}

.prod .desc::-webkit-scrollbar {
  width: 0.4em;
}

.prod .desc:hover {
  padding-right: 1em;
  overflow-y: scroll;
}

.prod:hover {
  transform: scale(1.1);
}

/* Only About */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
}

.about h2 {
  margin-bottom: 0.5em;
  text-align: center;
}

.about p {
  max-width: 70%;
  text-align: center;
}

.about p span {
  color: #f8ce0b;
  font-weight: bold;
}

.about-sentence {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5em;
}

.about-sentence p {
  max-width: 30%;
  color: #9fa3a9;
  font-size: 1.1rem;
  text-align: center;
  font-style: italic;
}

.about-sentence p:hover {
  color: #f8ce0b;
}

.about iframe {
  margin-top: 1.5em;
  border: #1f2124 solid 0.05em;
  box-shadow: 0 0.3em 0.5em rgba(31, 33, 36, 0.5);
  max-width: 45em;
}

/* Only Contact */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact h2 span {
  color: whitesmoke;
}

.wap img {
  width: 5.5em;
  margin-top: 1em;
  filter: drop-shadow(0 0 0.3em lime);
  transition: all 0.3s ease;
}

.wap img:hover {
  filter: drop-shadow(0 0 0.5em lime);
  transform: scale(1.1);
}

.mail h2 {
  margin-bottom: 1em;
}

fieldset {
  background-color: #1f2124;
  border: 0.1em whitesmoke solid;
  box-shadow: 0 0.3em 0.5em rgba(31, 33, 36, 0.5);
  padding: 3em;
}

.contact-cell {
  width: 40em;
  height: 3em;
  margin-bottom: 0.5em;
  outline: none;
  background-color: #292c2f;
  border: none;
  padding-left: 1em;
  padding-right: 1em;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
  color: whitesmoke;
}

.contact-cell:focus {
  background-color: #1f2124;
  border: whitesmoke solid 0.05em;
}

.msg {
  resize: none;
  height: 10em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.msg::-webkit-scrollbar {
  width: 0.4em;
}

.contact-submit {
  width: 5em;
  height: 3em;
  background-color: whitesmoke;
  border-style: none;
  border: #1f2124 solid 0.05em;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.contact-submit:hover {
  background-color: #f8ce0b;
  cursor: pointer;
}

::placeholder {
  color: #595e65;
}

/* Media Querries */
@media screen and (max-width: 1499px) {
  /* Only Index */
  .container-servs {
    grid-template-columns: repeat(2, 22em);
    grid-template-rows: repeat(4, 12em);
  }
  .prod {
    grid-template-columns: 25% 30% auto;
  }
  /* Only About */
  .about-sentence p {
    max-width: 50%;
  }
}

@media screen and (max-width: 1023px) {
  /* Only Index */
  .slider {
    margin-bottom: 0;
  }
  .container-servs {
    grid-template-columns: repeat(2, 22em);
    grid-template-rows: repeat(4, 12em);
  }
  .prod {
    height: 60vmin;
    margin-bottom: 2em;
    grid-template-columns: auto;
    grid-template-rows: 35% 15% auto;
  }
  .prod .desc {
    text-align: center;
  }
  .prod:hover {
    transform: scale(1);
  }
  /* Only About */
  .about p {
    max-width: 90%;
  }
  .about-sentence p {
    max-width: 70%;
  }
  /* Only Contact */
  .contact-cell {
    width: 30em;
  }
}

@media screen and (max-width: 767px) {
  /* All */
  .brand img {
    width: 5em;
  }
  .brand h1 {
    font-size: 2.5rem;
  }
  footer {
    height: 18em;
  }
  .copy span::before {
    content: "\A";
    white-space: pre;
  }
  main {
    margin-right: 5em;
    margin-left: 5em;
  }
  h2 {
    font-size: 3rem;
  }
  hr {
    margin: 5em 3em 5em 3em;
  }
  .creator {
    flex-direction: column;
  }
  .creator-text {
    margin-right: 0;
    margin-bottom: 1.5em;
  }
  .creator-menu {
    margin-top: 0;
    margin-bottom: 2em;
  }
  /* Only Index */
  .slider {
    margin-bottom: 0;
  }
  .container-servs {
    grid-template-columns: repeat(1, 22em);
    grid-template-rows: repeat(8, 12em);
  }
  .prod {
    height: 60vmax;
    margin-bottom: 2em;
    grid-template-columns: auto;
    grid-template-rows: 30% 20% auto;
  }
  .prod .desc {
    text-align: center;
  }
  .prod:hover {
    transform: scale(1);
  }
  /* Only About */
  .about p {
    max-width: 90%;
  }
  .about iframe {
    max-width: 28em;
  }
  .about-sentence p {
    max-width: 50%;
  }
  /* Only Contact */
  fieldset {
    padding: 2em 1.5em 2em 1.5em;
  }
  .contact-cell {
    width: 24em;
  }
}

@media screen and (max-width: 479px) {
  /* All */
  .brand img {
    width: 5em;
  }
  .brand h1 {
    margin-right: 0.8em;
    /* Para dar una mayor sensación de centrado */
    font-size: 1.5rem;
  }
  .menu li {
    font-size: 1.2rem;
  }
  footer {
    height: 18em;
  }
  .creator-text {
    font-size: 1rem;
  }
  .copy {
    font-size: 0.9rem;
  }
  .copy span::before {
    content: "\A";
    white-space: pre;
  }
  main {
    margin-right: 5em;
    margin-left: 5em;
  }
  h2 {
    font-size: 3rem;
  }
  hr {
    margin: 5em 3em 5em 3em;
  }
  .creator {
    flex-direction: column;
  }
  .creator-text {
    margin-right: 0;
    margin-bottom: 1.5em;
  }
  .creator-menu {
    margin-top: 0;
    margin-bottom: 2em;
  }
  /* Only Index */
  .slider {
    margin-bottom: 0;
  }
  .container-servs {
    grid-template-columns: repeat(1, 18em);
    grid-template-rows: repeat(8, 12em);
  }
  .serv:hover {
    transform: scale(1.075);
  }
  .prod {
    width: 80vw;
    height: 60vmax;
    margin-bottom: 2em;
    grid-template-columns: auto;
    grid-template-rows: 30% 20% auto;
  }
  .prod .desc {
    text-align: center;
  }
  .prod:hover {
    transform: scale(1);
  }
  /* Only About */
  .about p {
    max-width: 100%;
  }
  .about iframe {
    max-width: 18em;
  }
  .about-sentence p {
    max-width: 90%;
  }
  /* Only Contact */
  .wap h2 span {
    font-size: 2.5rem;
  }
  fieldset {
    padding: 2em 1.5em 2em 1.5em;
  }
  .contact-cell {
    width: 15em;
  }
}
