@media screen and (max-width: 479px) {

    /* All */
    .brand {
        img {
            width: 5em;
        }

        h1 {
            margin-right: 0.8em;
            /* Para dar una mayor sensación de centrado */
            font-size: 1.5rem;
        }
    }

    .menu li {
        font-size: 1.2rem;
    }

    footer {
        height: 18em;
    }

    .creator-text {
        font-size: 1rem;
    }

    .copy {
        font-size: 0.9rem;

        span::before {
            content: "\A";
            white-space: pre;
        }
    }

    main {
        margin-right: 5em;
        margin-left: 5em;
    }

    h2 {
        font-size: 3rem;
    }

    hr {
        margin: 5em 3em 5em 3em;
    }

    .creator {
        flex-direction: column;
    }

    .creator-text {
        margin-right: 0;
        margin-bottom: 1.5em;
    }

    .creator-menu {
        margin-top: 0;
        margin-bottom: 2em;
    }

    /* Only Index */
    .slider {
        margin-bottom: 0;
    }

    .container-servs {
        grid-template-columns: repeat(1, 18em);
        grid-template-rows: repeat(8, 12em);
    }

    .serv:hover {
        transform: scale(1.08);
    }

    .prod {
        grid-template-rows: 12em 5em 25em;
        grid-template-columns: 18em;
        grid-template-areas:
            "img"
            "tit"
            "desc";

        h3 {
            padding-left: 0;
        }

        p {
            text-align: center;
            padding-right: 0;
        }

        &:hover {
            transform: scale(1);
        }
    }

    /* Only About */
    .about {
        p {
            max-width: 100%;
        }

        iframe {
            max-width: 18em;
        }
    }

    .about-sentence p {
        max-width: 90%;
    }

    /* Only Contact */
    .wap h2 span {
        font-size: 2.5rem;
    }

    fieldset {
        padding: 2em 1.5em 2em 1.5em;
    }

    .contact-cell {
        width: 15em;
    }
}