@media screen and (max-width: 1499px) {

    /* Only Index */
    .container-servs {
        grid-template-columns: repeat(2, 22em);
        grid-template-rows: repeat(4, 12em);
    }

    .prod {
        grid-template-columns: 12em 12em 30em;
    }

    /* Only About */
    .about-sentence p {
        max-width: 50%;
    }
}