@media screen and (max-width: 1023px) {

    /* Only Index */
    .slider {
        margin-bottom: 0;
    }

    .container-servs {
        grid-template-columns: repeat(2, 22em);
        grid-template-rows: repeat(4, 12em);
    }

    .prod {
        height: 60vmin;
        margin-bottom: 2em;
        grid-template-columns: auto;
        grid-template-rows: 35% 15% auto;

        .desc {
            text-align: center;
        }

        &:hover {
            transform: scale(1);
        }
    }

    /* Only About */
    .about p {
        max-width: 90%;
    }

    .about-sentence p {
        max-width: 70%;
    }

    /* Only Contact */
    .contact-cell {
        width: 30em;
    }
}