@media screen and (max-width: 479px) {
    /* All */
    .brand img {
        width: 80px;
    }

    .brand h1 {
        font-size: 1.5rem;
    }

    .menu li {
        font-size: 1.2rem;
    }

    footer {
        height: 300px;
    }

    .creator-text {
        font-size: 1rem;
    }

    .copy {
        font-size: 0.9rem;
        span::before {
            content: "\A";
            white-space: pre;
        }
    }

    main {
        margin-right: 75px;
        margin-left: 75px;
    }

    h2 {
        font-size: 3rem;
    }

    hr {
        margin: 100px 50px 100px 50px;
    }

    .creator {
        flex-direction: column;
    }

    .creator-text {
        margin-right: 0px;
        margin-bottom: 25px;
    }

    .creator-menu {
        margin-top: 0px;
        margin-bottom: 35px;
    }

    /* Only Index */
    .slider {
        margin-bottom: 0px;
    }

    .container-servs {
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(8, 200px);
    }

    .serv:hover {
        transform: scale(1.1);
    }

    .prod {
        grid-template-rows: 200px 100px 400px;
        grid-template-columns: 300px;
        grid-template-areas:
            "img"
            "tit"
            "desc";
        h3 {
            padding-left: 0px;
        }
        p {
            text-align: center;
            padding-right: 0px;
        }
        &:hover {
            transform: scale(1);
        }
    }

    /* Only About */
    .about p {
        max-width: 300px;
    }

    .about iframe {
        max-width: 300px;
    }

    /* Only Contact */
    .wap h2 span {
        font-size: 2.5rem;
    }

    fieldset {
        padding: 35px 25px 35px 25px;
    }

    .contact-cell {
        width: 250px;
    }
}
