@media screen and (max-width: 767px) {

    /* All */
    .brand img {
        width: 100px;
    }

    .brand h1 {
        font-size: 2.5rem;
    }

    footer {
        height: 300px;
    }

    .copy span::before {
        content: "\A";
        white-space: pre;
    }

    main {
        margin-right: 75px;
        margin-left: 75px;
    }

    h2 {
        font-size: 3rem;
    }

    hr {
        margin: 100px 50px 100px 50px;
    }

    .creator {
        flex-direction: column;
    }

    .creator-text {
        margin-right: 0px;
        margin-bottom: 25px;
    }

    .creator-menu {
        margin-top: 0px;
        margin-bottom: 35px;
    }

    /* Only Index */
    .slider {
        margin-bottom: 0px;
    }

    .container-servs {
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: repeat(8, 200px);
    }

    .prod {
        grid-template-rows: 200px 100px 400px;
        grid-template-columns: 300px;
        grid-template-areas:
            "img"
            "tit"
            "desc";

        h3 {
            padding-left: 0px;
        }

        p {
            text-align: center;
            padding-right: 0px;
        }

        &:hover {
            transform: scale(1);
        }
    }

    /* Only About */
    .about p {
        max-width: 500px;
    }

    .about iframe {
        max-width: 450px;
    }

    /* Only Contact */
    fieldset {
        padding: 35px 25px 35px 25px;
    }

    .contact-cell {
        width: 400px;
    }
}