@media screen and (max-width: 1023px) {
    /* Only Index */
    .slider {
        margin-bottom: 0px;
    }

    .container-servs {
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(4, 200px);
    }

    .prod {
        grid-template-columns: 200px 150px 400px;
    }

    /* Only Contact */
    .contact-cell {
        width: 500px;
    }
}