@media screen and (max-width: 767px) {

    /* All */
    .brand {
        img {
            width: 5em;
        }

        h1 {
            font-size: 2.5rem;
        }
    }

    footer {
        height: 18em;
    }

    .copy span::before {
        content: "\A";
        white-space: pre;
    }

    main {
        margin-right: 4em;
        margin-left: 4em;
    }

    h2 {
        font-size: 3rem;
    }

    hr {
        margin: 5em 3em 5em 3em;
    }

    .creator {
        flex-direction: column;
    }

    .creator-text {
        margin-right: 0;
        margin-bottom: 1.5em;
    }

    .creator-menu {
        margin-top: 0;
        margin-bottom: 2em;
    }

    /* Only Index */
    .slider {
        margin-bottom: 0;
    }

    .container-servs {
        grid-template-columns: repeat(1, 22em);
        grid-template-rows: repeat(8, 12em);
    }

    .prod {
        height: 60vmax;
        margin-bottom: 2em;
        grid-template-columns: auto;
        grid-template-rows: 30% 20% auto;

        .img {
            border-right: none;
            border-bottom: $header-black solid 0.05em;
        }

        .desc {
            text-align: center;
        }

        &:hover {
            transform: scale(1);
        }
    }

    /* Only About */
    .about {
        p {
            max-width: 90%;
        }

        iframe {
            max-width: 28em;
        }
    }

    .about-sentence p {
        max-width: 60%;
    }

    /* Only Contact */
    fieldset {
        padding: 1.8em 1.2em 1.8em 1.2em;
    }

    .contact-cell {
        width: 24em;
    }
}